<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Snips</title>
	<link rel="stylesheet" href="style.css">
	<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
		integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">-->
	<script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@2/webcomponents-loader.js"></script>
	<script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@1/src/zero-md.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="snips.js" defer></script>

</head>

<body>
	<h1 id="main-title">Snips</h1>
	<h2 id="main-subtitle">Compact knowledge engine</h2>
	<div id="app-snips">
		<div id="search-wrapper">
			<input id="search-bar" v-model="searchTerm" v-on:input="search"
				placeholder="Search for snippets, commands ..." />
			<button v-if="searchTerm != ''" id="search-cancel" v-on:click="clearSearch">X</button>
		</div>

		<div id="topic-suggestion">
			<ul>
				<li v-for="tag in availableTags" v-on:click='search(tag.value)'>{{tag.value}}</li>
			</ul>
		</div>
		<div v-if="searchTerm == ''">
			<h2 id="latest-title">Latest snips</h2>

			<div v-for="post in posts" class="post">
				<div class="post-from">
					from <a v-bind:href="post.from.url" target="_blank">{{post.from.username}}</a>
				</div>

				<zero-md class="md" manual-render v-bind:src="post.md"></zero-md>
			</div>
		</div>

		<div v-else>
			<h2 id="latest-title">
				Search results
				<span title="# of most relevant snips/total snips matching" id="search-results-count">({{relevantSearchResultsCount}}/{{searchedPosts.length}})</span>
			</h2>

			<div v-for="post in searchedPosts" class="post" v-bind:class="{irrelevant : post.relevance < relevanceThreshold}">
				<div class="post-from">
					from <a v-bind:href="post.from.url" target="_blank">{{post.from.username}}</a>
				</div>
				<zero-md class="md" manual-render v-bind:src="post.md"></zero-md>
			</div>
		</div>
	</div>
	<a id="wazzup" href="https://github.com/mortrevere/snips/">What is this ?</a>
</body>

</html>
