*, html {
	margin: 0;
	padding: 0;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Lato';
}

.red {
	background-color: #FA0033 !important;
}

.green {
	background-color: #3CCC4E !important;
}

.yellow {
	background-color: #FFDC3A !important;
}

.redf {
	color: #FA0033 !important;
}

.greenf {
	color: #3CCC4E !important;
}

.yellowf {
	color: #FFDC3A !important;
}

.hidden {
	display: none;
}

.post {
	margin: 32px 0;
	border: 1px solid #dedede;
	padding: 16px;
	border-radius: 16px 0px;
	position: relative;
}

.post.irrelevant {
	opacity: .5;
}

.post.irrelevant:hover {
	opacity: .8;
}

.post .post-from {
	position: absolute;
	right: 16px;
	bottom: 4px;
	font-size: 14px;
	color:#bcbcbc;
	display:none;
}

.post:hover .post-from {
	display: block;
}

.post .post-from a {
	text-decoration: none;
	color:#f36f8a;
}

.post .post-from a:hover {
	color: #FA0033;
}

#search-cancel {
	cursor: pointer;
	background: none;
	border: none;
	position: absolute;
	z-index: 10;
	right: -12px;
	font-size: 32px;
	top: 11px;
	color: #bcbcbc;
}

#search-wrapper {
	position: relative;
	outline: none;
}

#topic-suggestion {}

#topic-suggestion ul {
	position: relative;
	left: -2px;
	top: 2px;
}

#topic-suggestion ul li:hover {
	background-color: #FA0033;
	cursor: pointer;
}



#topic-suggestion ul li {
	display: inline-block;
	padding: 2px 7px;
	background-color: #f36f8a;
	color: #FFF;
	margin: 2px;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	vertical-align: middle;
	height: 18px;
	border-radius: 1px;
}

#main-title {
	width: 100%;
	text-align: right;
	padding: 8px;
}

#search-bar {
	padding: 8px 16px;
	font-size: 32px;
	width: 100%;
	background: #EEE;
	border: none;
}

#search-bar::placeholder {
	color: #FA0033;
	font-size: 22px;
}

#latest-title {
	margin-top: 128px;
}

/* Edit your header styles here */

header {
	font-family: sans-serif;
	font-size: 20px;
	text-align: center;
	position: fixed;
	width: 100%;
	line-height: 42px;
	top: 0;
	left: 0;
	background-color: #424242;
	color: white;
}

body {
	box-sizing: border-box;
	min-width: 200px;
	max-width: 980px;
	margin: 56px auto 0 auto;
	padding: 45px;
}

@media (max-width: 767px) {
	header {
		font-size: 15px;
	}
	body {
		padding: 15px;
	}
}